@page
@model MacroFit.Pages.IndexModel
@if (Model.LoginCheck)
{
    <p>Welcome, @Model.UserDetails[0].FirstName!</p><br>
    <p>Last Name: @Model.UserDetails[0].LastName</p><br>
    <p>DOB: @Model.UserDetails[0].DateOfBirth</p>
    <br>
}
else
{
    <partial name="_IndexPartial" />
}
