@page
@model MacroFit.Pages.Log.ScannerModel
@{
}
<div id="reader"></div>

<!-- Add a container element for the products -->
<div class="container mt-4" id="products"></div>


<script src="~/js/html5-qrcode.min.js" type="text/javascript"></script>
<script src="~/js/scanner.js" type="text/javascript"></script>