@page
@model MacroFit.Pages.Users.Logs.ScannerModel
@{
}
<div id="reader" width="600px"></div>

<script src="~/js/html5-qrcode.min.js" type="text/javascript"></script>
<script src="~/js/scanner.js" type="text/javascript"></script>