@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Account Settings</h2>

<div>
    <div class="card" style="padding: 20px 25px">
        <div class="row">
            <div class="col" style="max-width: 30%">
                <partial name="_ManageNav" />
            </div>
            <div class="col" style="max-width: 70%;padding-left:25px">
                @RenderBody()
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
