@page
@using MacroFit.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserSettings.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserSettings.DarkModeToggle" /> @Html.DisplayNameFor(model => model.UserSettings.DarkModeToggle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserSettings.DashboardView" class="control-label"></label>
                <select asp-for="UserSettings.DashboardView" asp-items="Html.GetEnumSelectList<DashboardView>()" class="form-control"></select>
                <span asp-validation-for="UserSettings.DashboardView" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserSettings.AutoGoal" /> @Html.DisplayNameFor(model => model.UserSettings.AutoGoal)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserSettings.MetricToggle" /> @Html.DisplayNameFor(model => model.UserSettings.MetricToggle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserSettings.ActivityLevel" class="control-label"></label>
                <select asp-for="UserSettings.ActivityLevel" asp-items="Html.GetEnumSelectList<ActivityLevel>()" class="form-control"></select>
                <span asp-validation-for="UserSettings.ActivityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSettings.GoalType" class="control-label"></label>
                <select asp-for="UserSettings.GoalType" asp-items="Html.GetEnumSelectList<GoalType>()" class="form-control"></select>
                <span asp-validation-for="UserSettings.GoalType" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserSettings.CalorieGoal" class="form-control" id="calorieGoal" />
                        <label asp-for="UserSettings.CalorieGoal" class="floating-label" for="calorieGoal">Calorie Goal</label>
                        <span asp-validation-for="UserSettings.CalorieGoal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5 class="card-title text-center">Macronutrients</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="carbohydrates" placeholder="Carbohydrates" min="0" />
                                <label class="floating-label" for="carbohydrates">Carbohydrates (grams)</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="protein" placeholder="Protein" min="0" />
                                <label class="floating-label" for="protein">Protein (grams)</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="fat" placeholder="Fat" min="0" />
                                <label class="floating-label" for="fat">Fat (grams)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5 class="card-title text-center">Macronutrient Percentage</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="carbohydratesPercentage" placeholder="Carbohydrates" min="0" max="100" />
                                        <label class="floating-label" asp-for="UserSettings.CarbohydratesPercentage">Carbohydrates (%)</label>
                                        <span class="text-danger d-none" id="carbohydratesError">Carbohydrates must be between 0 and 100.</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="proteinPercentage" placeholder="Protein" min="0" max="100" />
                                        <label class="floating-label" asp-for="UserSettings.ProteinPercentage">Protein (%)</label>
                                        <span class="text-danger d-none" id="proteinError">Protein must be between 0 and 100.</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="fatPercentage" placeholder="Fat" min="0" max="100" />
                                        <label class="floating-label" asp-for="UserSettings.FatPercentage">Fat (%)</label>
                                        <span class="text-danger d-none" id="fatError">Fat must be between 0 and 100.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-md-6 mx-auto">
                                <button class="btn btn-primary" id="calculateButton">Calculate</button>
                            </div>
                            <div class="mt-3">
                                <div class="progress">
                                    <div class="progress-bar bg-success" id="carbohydratesBar" role="progressbar"></div>
                                    <div class="progress-bar bg-info" id="proteinBar" role="progressbar"></div>
                                    <div class="progress-bar bg-danger" id="fatBar" role="progressbar"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <p class="text-center">Carbohydrates</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="text-center">Protein</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="text-center">Fat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
    </div>
</div>

            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('#calculateButton').click(function () {
                            var carbohydrates = parseInt($('#carbohydrates').val());
                            var protein = parseInt($('#protein').val());
                            var fat = parseInt($('#fat').val());
                            var totalGrams = carbohydrates + protein + fat;
                            var calorieGoal = parseInt($('#calorieGoal').val());

                            var carbohydratesPercentage = parseInt($('#carbohydratesPercentage').val());
                            var proteinPercentage = parseInt($('#proteinPercentage').val());
                            var fatPercentage = parseInt($('#fatPercentage').val());

                            if (carbohydratesPercentage + proteinPercentage + fatPercentage !== 100) {
                                $('#carbohydratesError').removeClass('d-none');
                                $('#proteinError').removeClass('d-none');
                                $('#fatError').removeClass('d-none');
                            } else {
                                $('#carbohydratesError').addClass('d-none');
                                $('#proteinError').addClass('d-none');
                                $('#fatError').addClass('d-none');

                                var carbohydratesCalories = carbohydrates * 4;
                                var proteinCalories = protein * 4;
                                var fatCalories = fat * 9;
                                var totalCalories = carbohydratesCalories + proteinCalories + fatCalories;

                                var carbohydratesPercentageCalories = (carbohydratesPercentage / 100) * calorieGoal;
                                var proteinPercentageCalories = (proteinPercentage / 100) * calorieGoal;
                                var fatPercentageCalories = (fatPercentage / 100) * calorieGoal;

                                var carbohydratesPercentageBars = (carbohydratesPercentageCalories / totalCalories * 100).toFixed(2);
                                var proteinPercentageBars = (proteinPercentageCalories / totalCalories * 100).toFixed(2);
                                var fatPercentageBars = (fatPercentageCalories / totalCalories * 100).toFixed(2);

                                $('#carbohydratesBar').css('width', carbohydratesPercentageBars + '%').text(carbohydratesPercentageBars + '%');
                                $('#proteinBar').css('width', proteinPercentageBars + '%').text(proteinPercentageBars + '%');
                                $('#fatBar').css('width', fatPercentageBars + '%').text(fatPercentageBars + '%');
                            }
                        });
                    });
                </script>
    <partial name="_ValidationScriptsPartial" />
}
